
# Modules
node_modules/

# Environment
.env

# Playwright
tests/artifacts/test-results/
tests/artifacts/test-report/
tests/artifacts/blob-report/
tests/playwright/.cache/
tests/playwright/.auth/
tips.ts

tools/