name: Playwright Tests

on:
  push:
    branches: [development, main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: windows-latest
    environment: local

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: lts/*

      - name: Install dependencies
        run: npm ci

      - name: Start app
        run: npm run start &

      - name: Wait for app to start
        run: npx wait-on http://localhost:3000

  test:
    runs-on: windows-latest
    timeout-minutes: 60
    environment: local
    needs: build

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: lts/*

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        env:
          BASE_URL: http://localhost:3000
        run: npm run test

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: tests/test-report/
          retention-days: 30